<h1><%= link_to 'DND Logger', root_path %> - <%= link_to @log_book.title, entries_path(:log_book_id => @log_book.id) %></h1>

<h2>Tags Index (all)</h2>

<ul id="index-letters">
<% @indexed.keys.sort.each do |letter| -%>

	<li><a href="#<%= letter %>"><%= letter %></a></li>

<% end %>
</ul>

<ul>
  <% @indexed.keys.sort.each do |letter| -%>
    <li>
      <h3><a id="<%= letter %>"><%= letter %></a></h3>
      <ul>
        <% @indexed[letter].each do |tag| -%>
          
          <li><%= link_to tag.tag_name, entries_path(:type_filter => tag.tag_type, :specific_tag => tag.tag_name, :log_book_id => @log_book.id) %></li>
        <% end -%>
      </ul>
    </li>
  <% end -%>
</ul>