<!DOCTYPE html>
<html>
  <head>
    <title>DND Logger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jquery-3.2.1.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "jquery.textcomplete.min", "data-turbolinks-track" => true  %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/mark.js/8.6.0/mark.min.js"></script>

  </head>

  <body>
    <div style="float:right;">
    <%= link_to "logout", access_logout_path %>
    </div>
    <%= yield %>
  </body>
</html>
